{% extends "base.html.twig" %}


{% block title %}PG Url Shortener{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("bundles/pgshorturl/css/main.css") }}" rel="stylesheet">
{% endblock %}


{% block body %}
    <div class="main-wrapper">

        {% block main_wrapper %}
            <header class="main-header">
                {% block main_header %}
                {% endblock %}
            </header>

            <section class="main-content">
                {% block main_content %}
                {% endblock %}
            </section>

            <footer class="main-footer">
                {% block main_footer %}
                {% endblock %}
            </footer>
        {% endblock %}
    </div>
{% endblock %}
