{% extends "base.html.twig" %}


{% block title %}PG Url Shortener{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("bundles/pgshorturl/css/main.css") }}" rel="stylesheet">
{% endblock %}


{% block body %}
    <div class="container body">

        {% block main_wrapper %}

            <div class="main_container">
                {% block main_header %}
                {% endblock %}

                {% block main_content %}
                {% endblock %}

                {% block main_footer %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
