@import '../vendors/gentelella/vendors/bootstrap/dist/css/bootstrap.css';
@import '../vendors/gentelella/vendors/font-awesome/css/font-awesome.css';
@import '../vendors/gentelella/build/css/custom.css';
body.standard-body {
  background-color: #FFF;
}
.bg-light-wrapper,
.notfound-main-message-wrapper {
  background-color: #f8f8f8;
}
.bg-dark-wrapper,
.notfound-footer-wrapper {
  background-color: #2c3d4a;
}
.green-color {
  color: #9ac952;
}
.notfound-main-message-wrapper {
  padding-bottom: 10px;
}
.notfound-footer-wrapper {
  border-top: 4px solid #6a7a87;
  padding-top: 25px;
  padding-bottom: 5px;
  padding-right: 10px;
  color: #FFF;
  font-weight: bold;
}
